.App-link {
  color: #61dafb;
}

.border {
  height: 12rem;
  width: 24rem;
  border-radius: 1rem;
  border: solid white 1px;
}

.borderw {
  height: 12rem;
  width: 24rem;
  border-radius: 0.1rem;
  border: solid rgb(203, 199, 199) 1px;
}

.center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.loval {
  height: 2rem;
  width: 6rem;
  border-radius: 100px;
  border: solid black 1px;
}

.lovalw {
  height: 3rem;
  width: 9rem;
  border-radius: 100px;
  border: solid white 1px;
}

.box {
  /* transform-style: preserve-3d;
  transform: perspective(1000px); */
  height: 6rem;
  width: 6rem;
  border: solid 1px;
  border-radius: 1rem;
}

.line {
  height: 0.5px;
  width: 100%;
  background: #000;
}

* {
  cursor: crosshair;
}

@media screen and (min-width: 768px) {
  
  * {
    cursor: none;
  }

  .cursor {
    background-color: black;
    top: 0;
    left: 0;
    height: 14px;
    width: 14px;
    border-radius: 50%;
    border-style: solid;
    border-width: 1px;
    position: fixed;
    pointer-events: none;
    mix-blend-mode: difference;
  }

  .cursor2 {
    background-color: #fff;
    top: 0;
    left: 0;
    height: 4px;
    width: 4px;
    border-radius: 50%;
    border-style: solid;
    position: fixed;
    pointer-events: none;
    mix-blend-mode: difference;
  }

}


.btn {
  position: relative;
  width: 150px;
}

.btn.full-name::after, .btn.full-name::before {
  content: 'N/A™';
  padding-left: 1rem;
  position: absolute;
  width: 100%;
  transition: all 500ms;
  right: 0;
}

.btn.btn.full-name:hover::after {
  right: -48px;
  opacity: 0;
}

.btn.full-name::before {
  content: 'Naufal Abiyyu';
  padding-left: 1rem;
  width: 100%;
  right: 42px;
  opacity: 0;
}

.btn.btn.full-name:hover::before {
  right: 0;
  opacity: 1;
}

.btn2 {
  position: relative;
  width: 12rem;
}

.btn2.fn2::after, .btn2.fn2::before {
  content: 'naufal abiyyu';
  padding-left: 0.5rem;
  position: absolute;
  width: 100%;
  transition: all 300ms;
  bottom: 0;
}

.btn2.btn2.fn2:hover::after {
  bottom: -24px;
  opacity: 0;
}

.btn2.fn2::before {
  content: 'linkedin';
  padding-left: 0.5rem;
  width: 100%;
  bottom: 24px;
  opacity: 0;
}

.btn2.btn2.fn2:hover::before {
  bottom: 0;
  opacity: 1;
}

/* .btn3 {
  position: relative;
  width: 12rem;
  height: 12rem;
}

.btn3.fn3::after, .btn3.fn3::before {
  content: url(./img/loc.png);
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  width: 3.5rem;
  height: 3.5rem;
  transition: all 300ms;
  right: 0;
}

.btn3.btn3.fn3:hover::after {
  right: 0;
  opacity: 1;
}

.btn3.fn3::before {
  content: "S 7°45'28.58 E 110°22'29.63";
  width: 100%;
  height: 100%;
  right: 12px;
  opacity: 0;
}

.btn3.btn3.fn3:hover::before {
  right: 0;
  opacity: 1;
} */

/* .btn3 {
  position: relative;
  width: 9rem;
  height: 3rem;
}

.btn3.fn3::after, .btn3.fn3::before {
  content: 'send love';
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  width: 100%;
  height: 100%;
  transition: all 300ms;
  bottom: 0;
}

.btn3.btn3.fn3:hover::after {
  bottom: -12px;
  opacity: 0;
}

.btn3.fn3::before {
  content: '♥';
  color: cyan;
  width: 100%;
  height: 100%;
  bottom: 12px;
  opacity: 0;
}

.btn3.btn3.fn3:hover::before {
  bottom: 0;
  opacity: 1;
} */

.parallax {
  transform-style: preserve-3d;
}

.pop {
  transform: translateZ(20px);
}

h1::selection, p::selection, a::selection {
  background: #000;
  color: #fff;
}

div::selection {
  background: transparent;
}

img::selection {
  background: inherit;
}

.wbg::selection {
  background: rgb(23, 23, 23);
  color: #ffff;
}

.underlink {
  border-bottom-width: 0;
  background-image: linear-gradient(transparent, transparent), linear-gradient(#fff, #fff);
  background-size: 0 1px;
  background-position: 50% 90%;
  background-repeat: no-repeat;
  transition: background-size .3s ease-in-out;
  text-decoration-skip-ink: auto;
}

.afterulw {
  background-image: linear-gradient(transparent, transparent), linear-gradient(#fff, #fff);
  mix-blend-mode: difference;
}

.underlink:hover {
  background-size: 100% 1px;
  background-position: 50% 90%
}

.underlink2 {
  border-bottom-width: 0;
  background-image: linear-gradient(transparent, transparent), linear-gradient(#111, #111);
  background-size: 0 1px;
  background-position: 50% 100%;
  background-repeat: no-repeat;
  transition: background-size .3s ease-in-out; 
}

.afterul {
  background-image: linear-gradient(transparent, transparent), linear-gradient(#111, #111);
  mix-blend-mode: difference;
}

.underlink2:hover {
  background-size: 100% 1px;
  background-position: 50% 100%
}

.stack__card {
  display: flex;
  height: 100vh;
  position: sticky;
  top: 0;
  box-shadow: 0 -1px 3px rgba(0,0,0,0.1), 0 -1px 2px rgba(0,0,0,0.25);
}

.cardlong {
  display: flex;
  height: 105vh;
  position: sticky;
  top: 0;
  box-shadow: 0 -1px 3px rgba(0,0,0,0.1), 0 -1px 2px rgba(0,0,0,0.25);
}

.card {
  display: flex;
  height: 60vh;
  position: sticky;
  top: 0;
  box-shadow: 0 -1px 3px rgba(0,0,0,0.1), 0 -1px 2px rgba(0,0,0,0.25);
}

.loadwrap {
  width: 100%;
  height: 100%;
  position: absolute;
  background-color: rgb(38, 38, 38);
  display: grid;
  place-items: center;
}

.loader {
  display: inline-block;
  position: absolute;
  animation: fup 3s ease;
}

.loader2 {
  display: inline-block;
  position: absolute;
  animation: fup2 3s ease;
}

img {
  pointer-events: none;
}

@keyframes fup { 
  0% {opacity: 0.5}
  20% {opacity: 1}
  50% {opacity: 0}
  100% {opacity: 0}
}

@keyframes fup2 { 
  0% {opacity: 0}
  50% {opacity: 0}
  60% {opacity: 1;}
  70% {top: 47%; opacity: 1;}
  90% {top: 36%; opacity: 0}
  100% {opacity: 0;}
}

@import url('https://fonts.googleapis.com/css2?family=Archivo:ital,wght@0,100;0,200;0,300;0,400;0,500;1,100&family=EB+Garamond&family=Special+Elite&display=swap');

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
