* {
  cursor: none;
}

.App-link {
  color: #61dafb;
}

.border {
  height: 12rem;
  width: 24rem;
  border-radius: 1rem;
  border: solid white 1px;
}

.borderw {
  height: 12rem;
  width: 24rem;
  border-radius: 0.1rem;
  border: solid rgb(203, 199, 199) 1px;
}

.center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.box {
  /* transform-style: preserve-3d;
  transform: perspective(1000px); */
  height: 6rem;
  width: 6rem;
  border: solid 1px;
  border-radius: 1rem;
}

.cursor {
  background-color: #1111;
  top: 0;
  left: 0;
  height: 14px;
  width: 14px;
  border-radius: 50%;
  border-style: solid;
  border-width: 1px;
  position: fixed;
  pointer-events: none;
  mix-blend-mode: difference;
}

.cursor2 {
  background-color: #fff;
  top: 0;
  left: 0;
  height: 4px;
  width: 4px;
  border-radius: 50%;
  border-style: solid;
  position: fixed;
  pointer-events: none;
  mix-blend-mode: difference;
}

.btn {
  position: relative;
  width: 150px;
}

.btn.full-name::after, .btn.full-name::before {
  content: 'N/A™';
  padding-left: 1rem;
  position: absolute;
  width: 100%;
  transition: all 500ms;
  right: 0;
}

.btn.btn.full-name:hover::after {
  right: -48px;
  opacity: 0;
}

.btn.full-name::before {
  content: 'Naufal Abiyyu';
  padding-left: 1rem;
  width: 100%;
  right: 42px;
  opacity: 0;
}

.btn.btn.full-name:hover::before {
  right: 0;
  opacity: 1;
}

.parallax {
  transform-style: preserve-3d;
}

.pop {
  transform: translateZ(20px);
}

h1::selection, p::selection, a::selection {
  background: #000;
  color: #fff;
}

div::selection {
  background: transparent;
}

img::selection {
  background: inherit;
}

.wbg::selection {
  background: rgb(23, 23, 23);
  color: #ffff;
}

.underlink {
  border-bottom-width: 0;
  background-image: linear-gradient(transparent, transparent), linear-gradient(#fff, #fff);
  background-size: 0 1px;
  background-position: 0 90%;
  background-repeat: no-repeat;
  transition: background-size .3s ease-in-out;
  text-decoration-skip: ink;
}

.afterulw {
  background-image: linear-gradient(transparent, transparent), linear-gradient(#fff, #fff);
  mix-blend-mode: difference;
}

.underlink:hover {
  background-size: 100% 1px;
  background-position: 0 90%
}

.underlink2 {
  border-bottom-width: 0;
  background-image: linear-gradient(transparent, transparent), linear-gradient(#111, #111);
  background-size: 0 1px;
  background-position: 0 100%;
  background-repeat: no-repeat;
  transition: background-size .3s ease-in-out; 
}

.afterul {
  background-image: linear-gradient(transparent, transparent), linear-gradient(#111, #111);
  mix-blend-mode: difference;
}

.underlink2:hover {
  background-size: 100% 1px;
  background-position: 0 100%
}

@import url('https://fonts.googleapis.com/css2?family=Archivo:ital,wght@0,100;0,200;0,300;0,400;0,500;1,100&family=EB+Garamond&family=Special+Elite&display=swap');;

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
